# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

WARNING:tensorflow:From c:\Users\rajav\anaconda3\envs\dev\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame
student_loans_df = pd.read_csv(file_path)
student_loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
student_loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = student_loans_df['credit_ranking'].values

# Display a sample of y
y[:5]

array([5, 5, 5, 6, 5], dtype=int64)

In [5]:
# Define features set X by selecting all columns but credit_ranking
X = student_loans_df.drop('credit_ranking', axis=1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model as the length of the columns in X_train
number_input_features = 11

# Review the number of features
number_input_features

11

In [9]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

6

In [11]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

3

In [12]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From c:\Users\rajav\anaconda3\envs\dev\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [13]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [14]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [15]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [16]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [17]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

WARNING:tensorflow:From c:\Users\rajav\anaconda3\envs\dev\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [18]:
# Fit the model using 50 epochs and the training data
model_1 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

WARNING:tensorflow:From c:\Users\rajav\anaconda3\envs\dev\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\rajav\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

38/38 [==============================] - 1s 1ms/step - loss: 30.0450 - mse: 30.0450
Epoch 2/50
38/38 [==============================] - 0s 1ms/step - loss: 28.0317 - mse: 28.0317
Epoch 3/50
38/38 [==============================] - 0s 1ms/step - loss: 25.9359 - mse: 25.9359
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 23.5763 - mse: 23.5763
Epoch 5/50
38/38 [==============================] - 0s 1ms/step - loss: 21.0113 - mse: 21.0113
Epoch 6/50
38/38 [==============================] - 0s 1ms/step - loss: 18.3525 - mse: 18.3525
Epoch 7/50
38/38 [==============================] - 0s 919us/step - loss: 15.7080 - mse: 15.7080
Epoch 8/50
38/38 [==============================] - 0s 911us/step - loss: 13.2206 - mse: 13.2206
Epoch 9/50
38/38 [==============================] - 0s 933us/step - loss: 10.9750 - mse: 10.9750
Epoch 10/50
38/38 [==============================] - 0s 934us/step - loss: 9.0511 - mse: 9.0511
Epoch 11/50
38/38 [==============================] - 0s 869us/step - loss: 7.4946 - mse: 7.4946
Epoch 12/50
38/38 [==============================] - 0s 903us/step - loss: 6.3280 - mse: 6.3280
Epoch 13/50
38/38 [==============================] - 0s 1ms/step - loss: 5.4898 - mse: 5.4898
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 4.8463 - mse: 4.8463
Epoch 15/50
38/38 [==============================] - 0s 929us/step - loss: 4.3495 - mse: 4.3495
Epoch 16/50
38/38 [==============================] - 0s 870us/step - loss: 3.9201 - mse: 3.9201
Epoch 17/50
38/38 [==============================] - 0s 882us/step - loss: 3.5572 - mse: 3.5572
Epoch 18/50
38/38 [==============================] - 0s 865us/step - loss: 3.2455 - mse: 3.2455
Epoch 19/50
38/38 [==============================] - 0s 872us/step - loss: 2.9787 - mse: 2.9787
Epoch 20/50
38/38 [==============================] - 0s 862us/step - loss: 2.7450 - mse: 2.7450
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 2.5299 - mse: 2.5299
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 2.3441 - mse: 2.3441
Epoch 23/50
38/38 [==============================] - 0s 930us/step - loss: 2.1730 - mse: 2.1730
Epoch 24/50
38/38 [==============================] - 0s 974us/step - loss: 2.0216 - mse: 2.0216
Epoch 25/50
38/38 [==============================] - 0s 900us/step - loss: 1.8870 - mse: 1.8870
Epoch 26/50
38/38 [==============================] - 0s 980us/step - loss: 1.7659 - mse: 1.7659
Epoch 27/50
38/38 [==============================] - 0s 921us/step - loss: 1.6600 - mse: 1.6600
Epoch 28/50
38/38 [==============================] - 0s 913us/step - loss: 1.5681 - mse: 1.5681
Epoch 29/50
38/38 [==============================] - 0s 1ms/step - loss: 1.4835 - mse: 1.4835
Epoch 30/50
38/38 [==============================] - 0s 1ms/step - loss: 1.4140 - mse: 1.4140
Epoch 31/50
38/38 [==============================] - 0s 1ms/step - loss: 1.3448 - mse: 1.3448
Epoch 32/50
38/38 [==============================] - 0s 889us/step - loss: 1.2850 - mse: 1.2850
Epoch 33/50
38/38 [==============================] - 0s 882us/step - loss: 1.2315 - mse: 1.2315
Epoch 34/50
38/38 [==============================] - 0s 871us/step - loss: 1.1818 - mse: 1.1818
Epoch 35/50
38/38 [==============================] - 0s 846us/step - loss: 1.1347 - mse: 1.1347
Epoch 36/50
38/38 [==============================] - 0s 936us/step - loss: 1.0909 - mse: 1.0909
Epoch 37/50
38/38 [==============================] - 0s 888us/step - loss: 1.0497 - mse: 1.0497
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 1.0125 - mse: 1.0125
Epoch 39/50
38/38 [==============================] - 0s 1ms/step - loss: 0.9773 - mse: 0.9773
Epoch 40/50
38/38 [==============================] - 0s 962us/step - loss: 0.9441 - mse: 0.9441
Epoch 41/50
38/38 [==============================] - 0s 942us/step - loss: 0.9146 - mse: 0.9146
Epoch 42/50
38/38 [==============================] - 0s 946us/step - loss: 0.8873 - mse: 0.8873
Epoch 43/50
38/38 [==============================] - 0s 913us/step - loss: 0.8608 - mse: 0.8608
Epoch 44/50
38/38 [==============================] - 0s 878us/step - loss: 0.8354 - mse: 0.8354
Epoch 45/50
38/38 [==============================] - 0s 906us/step - loss: 0.8137 - mse: 0.8137
Epoch 46/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7916 - mse: 0.7916
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.7732 - mse: 0.7732
Epoch 48/50
38/38 [==============================] - 0s 932us/step - loss: 0.7538 - mse: 0.7538
Epoch 49/50
38/38 [==============================] - 0s 944us/step - loss: 0.7367 - mse: 0.7367
Epoch 50/50
38/38 [==============================] - 0s 874us/step - loss: 0.7198 - mse: 0.7198

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [19]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.6912 - mse: 0.6912 - 130ms/epoch - 10ms/step
Loss: 0.6912419199943542, Accuracy: 0.6912419199943542

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [20]:
# Set the model's file path
file_path = Path("models/student_loans.h5")

# Export your model to a HDF5 file
nn.save(file_path)

c:\Users\rajav\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [21]:
# Set the model's file path
file_path = Path("models/student_loans.h5")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [22]:
# Make predictions on the testing data
y_pred = nn_imported.predict(X_test_scaled).round().astype("int32")

13/13 [==============================] - 0s 1ms/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [23]:
# Create a DataFrame to compare the predictions with the actual values
compare_df = pd.DataFrame({
    "Predicted": y_pred.ravel(),
    "Actual": y_test.ravel()    
})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [24]:
# Display sample data
compare_df[:10]

   Predicted  Actual
0          5       5
1          5       6
2          6       6
3          5       6
4          6       6
5          6       6
6          6       6
7          4       5
8          5       5
9          5       5